* {
    box-sizing: border-box;
    color: inherit;
    text-decoration: none;
    list-style-type: none;
    font-family: var(--primary-font);
    padding: 0;
}

:root {
    /* COLORS*/
    --primary-color: #3CDBC0;
    --secondary-color: #4a4a4a;
    --terciary-color: #FFFFFF;
    /*FONTS*/
    --primary-font: 'Rubik', sans-serif;
}

.header {
    text-align: center;
    position: fixed;
    width: 100%;
    background-color: var(--terciary-color);
    z-index: 1;
    top: 0;
    padding: 20px 30px;
}

.header-menu {
    font-size: 16px;
    text-transform: uppercase;
    color: var(--secondary-color);
    display: flex;
    justify-content: center;
    align-items: center;
}

.link-blog {
    padding-right: 20px;
}

.main {
    background-color: var(--primary-color);
    color: var(--terciary-color);
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.main-title span {
    display: block;
    text-align: center;
    font-size: 30px;
    padding: 10px;
    text-transform: capitalize;
}

@media all and (min-width: 768px) {
    .header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding-bottom: 20px;
    }
    .main-title span {
        font-size: 40px;
    }
    .header-menu {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
}