* {
    box-sizing: border-box;
    color: inherit;
    text-decoration: none;
    list-style-type: none;
    font-family: var(--primary-font);
}

:root {
    /* COLORS*/
    --primary-color: #3CDBC0;
    --secondary-color: #4a4a4a;
    --terciary-color: #FFFFFF;
    /*FONTS*/
    --primary-font: 'Rubik', sans-serif;
}

/*margin testing
.header, .main {
    border: 1px solid red;
}
*/

.header-logo {
    height: 15px;
}

.header-menu {
    font-size: 16px;
    text-transform: uppercase;
    color: var(--secondary-color);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 13px;
    margin-top: 10px;
}

.header {
    text-align: center;
    padding-top: 10px;
}

.main {
    background-color: var(--primary-color);
    color: var(--terciary-color);
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.main-title span {
    display: block;
    text-align: center;
    font-size: 30px;
    padding: 10px;
}

@media all and (min-width: 768px) {
    .header .wrapper {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-top: 20px;
        padding-bottom: 20px;
        margin-left: 30px;
    }
    .main-title span {
        font-size: 40px;
        padding: 10px;
    }